<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

<Appenders>
	<Console name="STDOUT" target="SYSTEM_OUT">
		<PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
	<File name="Myfile" fileName="logs/test.log" append="false">
		<PatternLayout>
			<pattern>"%d{YYYY-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n</pattern>
		</PatternLayout>
	</File>
</Appenders> 
   
<Loggers>
	<Logger name="com.trane.display.utils.Log" level="trace" additivity="false">
		<AppenderRef ref="Myfile"/>
    </Logger>
	<Root level="trace">
		<AppenderRef ref="Myfile"/>
    </Root>
</Loggers>
  
</Configuration>