<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">
	<Properties>
		<Property name="log-path">logs</Property>
	</Properties>
	
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
	    </Console>
	    
		<File name="debug" fileName="${log-path}/debug.log" append="false">
			<Filters>
				<ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL"/>
				<ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
			</Filters>
			<PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
		</File>
		
		<File name="info" fileName="${log-path}/info.log" append="false">
			<Filters>
				<ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
				<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
			</Filters>
			<PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
		</File>
		
		<File name="error" fileName="${log-path}/error.log" append="false">
			<ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
		</File>
		
		<RollingFile name="RollingFile" filename="${log-path}/all.log" filePattern="${log-path}/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="%d{YYYY-MM-dd 'at' HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
			<SizeBasedTriggeringPolicy size="1MB"/>
		</RollingFile>
	</Appenders> 
	   
	<Loggers>
		<Logger name="com.trane.display.utils.Log" level="trace" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="debug" />
			<appender-ref ref="info" />
			<appender-ref ref="error" />
			<appender-ref ref="RollingFile" />
		</Logger>
		
		<Root level="trace" additivity="false">
			<appender-ref ref="Console"/>
			<appender-ref ref="debug" />
			<appender-ref ref="info" />
			<appender-ref ref="error" />
			<appender-ref ref="RollingFile" />
		</Root>

	</Loggers>
	  
</Configuration>